.hdr-con {
  background-color: #352442;
  box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.20);;
}

.header {
  display: flex;
  color: #fff;
  height: 80px;
  margin: 0 20px;
}

.logo-cnt {
  flex: 30%;
  font-size: 200%;
  font-weight: bolder;
  position: relative;
}

.logo {
  position: absolute;
  margin-top: -22px;
  top: 50%;
}

.right-sec {
  flex: 70%;
  position: relative;
}

.nav {
  display: flex;
  position: absolute;
  right: 0;
  top: 29px;
}

.btn-cnt {
  margin-right: 40px;
}

.icon {
  margin: 0 10px;
}

.icon-notif {
  margin-top: -9px;
  font-size: 200%;
  margin-right: 40px;
}

.user-avatar {
  display: flex;
}

.avatar {
  margin-top: -19px;
  height: 60px;
  width: auto;
  border-radius: 50%;
}
