*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F6F3F4;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

a { text-decoration: none; }
ul { list-style-type: none; }

.emt-btn {
  padding: 10px 25px;
  border: 2.5px solid #fff;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
}

.emt-btn:hover {
  cursor: pointer;
  color: #352442;
  background-color: #fff;
  transition: color 0.5s, background-color 0.5s;
}

.dark-btn {
  padding: 15px 25px;
  background-color: #352442;
  color: #fff;
  font-size: 120%;
  border-radius: 10px;
  box-shadow: 5px 5px 20px #00000075;
}

.dark-btn:hover {
  padding: 20px 45px;
  cursor: pointer;
  background-color: #4D2D52;
  transition: padding 0.3s, background-color 0.5s;
}